* {
  font-family: Helvetica, sans-serif;
  color: cyan;
  outline: 1px dashed yellow;
}

body {
  background-color: #555;
}

label {
  display: block;
}

form {
  max-width: 800px;
  margin: 0px auto;
}

input {
  margin: 10px;
  color: black
}

select {
  color:black;
}

img {
  height: 200px;
  float:left;
  margin: 10px;
}

.inline {
  display: inline-block;
}

article {
  padding: 10px;
  border: 5px solid red;
  border-radius: 25px;
  margin: 10px
}

button {
  display: block;
  color: red;
  background-color: yellow;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 10px;
}

h2 {
  margin-right: 10px;
  color: black;
}
